
body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.boxineer {
    padding: 40px;
    box-shadow: 0px 0px 10px #00000096;
    width: 100%;
    height: 100%;
    align-items: center !important;
 
   
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #304364;
    border-radius:20px ;
    background-image: radial-gradient(93.32% 93.32% at 48.69% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(106, 135, 190, 0.3) 49.07%);
}
h1{ 
text-align: center;
font-family: "Rambla", sans-serif;
font-weight: 400;
font-style: normal;

}
h2{
font-size: 50px;
font-family: "Kulim Park", sans-serif; 
text-align: left;
font-weight: 400;

margin: 24px 0px;
display: inline-block;
}
h3{
    font-size: 30px;
    font-family: "Kulim Park", sans-serif; 
    text-align: left;
    font-weight: 400;
    margin-top: 0px;
    }

h1{

    font-size: 60px; 
    font-family: "Kulim Park", sans-serif; 
}


.boxw {
  height: 100%;
}
div#getname {
    text-align: center;
}
.search input{

    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border: 3px solid #000;
    border-radius: 30px;
}

button.btn {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background: #fff;
    color:#0C0C0C;
    font-size: 16px;
    margin-top: 15px;
    align-items: center;
    margin-left: 0px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Kulim Park", sans-serif; 
    box-shadow: 0px 0px 10px #00000096;
    font-size: 18px;
    font-weight: 600;
    line-height: 20.43px;
    border:none;
    margin-left: auto;
    margin-right: auto;
}
section.weather {
    width: 90%;
    margin: auto;
    padding: 40px;
    height: 100vh;
    box-sizing: border-box;
}
div#locget {
    margin-top: 50px;
    padding-bottom: 50px;
}

.boxw1{
    opacity: 1 !important;

}
section#vid:Before {
    content: "";
    background: #ffffff59;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
}
@media screen and (max-width: 820px){
    .boxineer {
        padding: 40px;
        box-shadow: 0px 0px 10px #00000096;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .boxw{
display: block !important;

    }
section.weather{
padding:10px !important;

}
.main{
    display: block !important;
    grid-template-columns: auto auto;
    gap:40px;
    height: auto;
    }
    .hicol{

        padding: 10px !important;
        border-radius: 20px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: #304364;
        border: 1px solid #AAAAAA;
        box-sizing: border-box;
        display: block;
        width: 100%;

    }
    h2 {
        font-size: 30PX !important;
        font-family: "Kulim Park", sans-serif;
        text-align: left;
        font-weight: 400;
        margin: 10px 0PX !important;
        display: inline-block;
    }
}

section#vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
    width: 100vh;
}

.main{
display: grid;
grid-template-columns: auto auto;
gap:40px;
height: 100%;
}
.highlight.boxineer {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

.otherciyt.boxineer {
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 2;
}

.todayweek.boxineer {
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
}


.weather.boxineer {
    text-align: left;
}
body {
    color: #fff !important;
    font-family: "Kulim Park", sans-serif; 

    font-size: 18px;
    font-weight: 500;
    line-height: 20.43px;
    text-align: left;
    letter-spacing: 1px;
}

.image img {
    margin-left: auto;
    margin-right: 0px;
    display: block;
}

.feelstem {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}

.hicol{
   padding:40px;
  border-radius: 20px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #304364;

    border: 1px solid #AAAAAA
}
.highcol {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    text-align: center;
}


input#scan ,.search input {
    background-color: #304364;
    border-radius: 20px;
    background-image: radial-gradient(93.32% 93.32% at 48.69% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(106, 135, 190, 0.3) 49.07%);
border:none !important;
box-shadow: 0px 0px 10px #00000096;
}
input#scan::placeholder , input {

color: #fff;
text-align: center;
font-size: 25px;
display: flex;
align-items: center;
font-family: "Kulim Park", sans-serif;
}
div#getname {
    display: none !important;
}